.RegisterDiv {
    background: #2b2b2b;
    color: rgb(253, 253, 253);
    /*border: 3px outset lightgray;*/
    padding: 4em;
    /*border-radius: 5px;*/
    position: absolute;
    width: 650px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.LoginDiv {
    background: #2b2b2b;
    color: rgb(253, 253, 253);
    /*border: 3px outset lightgray;*/
    padding: 4em;
    /*border-radius: 5px;*/
    position: absolute;
    width: 700px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


.customBackground {
    background-image: url('images/backgroundTest7.png');
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
    opacity: 0.9
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(31, 31, 31);
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #111;
            color: white
        }

.active {
    background-color: #04AA6D;
}

/* Flash */
.Alert {
    padding: 10px;
    background-color: #ff5b4f; /* Red */
    color: white;
    border-radius: 5px;
    margin-bottom: 15px;
    bottom: 0%;
    position: absolute;
    right: 2%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    animation: fade-out 1s 7s both;
}

/* Flash Message Fade Animation */
@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}


