{% extends '_layout.html' %}

{% block title %}Select Subject{% endblock %}
{% block extra_class %}customBackground{% endblock %}
{% block content %}
<div class="RegisterDiv" style="width:750px">
    <h1>Admin</h1>
    <a href="/add-subject" style="height:200px; width:200px; text-align:center; font-size:20px; color: rgb(255, 255, 255);"  class="buttonCustom"><img src="static/images/addsubject.png" alt="no" width="150" height="150">Add Subject</a>
    <a href="/delete-subject" style="height:200px; width:200px; text-align:center; font-size:20px; color: rgb(255, 255, 255);"  class="buttonCustom"><img src="static/images/deletesubject.png" alt="no" width="150" height="150">Delete Subject</a>
    <a href="/dash" style="height:200px; width:200px; text-align:center; font-size:20px; color: rgb(255, 255, 255);"  class="buttonCustom"><img src="static/images/dashboard.png" alt="no" width="150" height="150">View Users</a>
{% endblock %}