{% extends '_layout.html' %}

{% block title %}Add Subject{% endblock %}
{% block extra_class %}customBackground{% endblock %}
{% block content %}

<div class="RegisterDiv">
    <h2>Create Subject</h2>
    <form method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column;">
        <input id="u" name="subject_name" type="text" required placeholder="Subject Name"><br>
        <input id="em" name="subject_code" type="text" required placeholder="Subject Code"><br>
        <input id="sd" name="subject_description" type="text" required placeholder="Subject Description"><br>
        <input id="b" name="submit" type="submit" value="Submit"> 
    </form>
</div>

{% endblock %}
