{% extends '_layout.html' %}

{% block title %}Forbidden{% endblock %}
{% block extra_class %}customBackground{% endblock %}

{% block content %}
<div class="RegisterDiv">
    <h1>Access is Forbidden</h1><br>
    <p>You lack permissions to access this website.</p>
    <p>Please check your link to see if you made a typo.</p> <br>
    <p style="font-weight: bold; position:absolute; top:80%">Error 404</p>
    <img src="/static/images/icon2.png" style="width:100px; height:100px; float:right">
</div>
{% endblock %}