{% extends '_layout.html' %}

{% block title %}Home{% endblock %}
<!--{% block extra_class %}customBackground{% endblock %}-->

{% block content %}
<div class="mt-0 p-3 bg-dark text-white rounded" style="text-align: center;">
    <img style="width:100px; height: 100px;" src="/static/images/icon2.png"> <!-- Page Icon in Jumbotron-->
    <h1>Subject Selector</h1>
    <p>You are able to choose subjects for what you want to do next year.</p>
</div>

<div class="card" style="width: 18rem; background: #3f3f3f; color: white; margin-left: 40px; margin-top: 40px;">
<img src="/static/images/subjectChoose.png" class="card-img-top" alt="...">
<div class="card-body">
    <h5 class="card-title">About the Subjects</h5>
    <p class="card-text">Check out what some of the subjects mean! They might grab your interests...</p>
    <a href="/about-subjects" class="btn btn-primary">Go somewhere</a>
</div>
</div>
{% endblock %}