{% extends '_layout.html' %}

{% block title %}Home{% endblock %}
{% block extra_class %}customBackground{% endblock %}

{% block content %}
<div class="mt-0 p-3 text-white" style="text-align: center; background: #2b2b2b;">
    <img style="width:100px; height: 100px;" src="/static/images/icon2.png"> <!-- Page Icon in Jumbotron-->
    <h1>Home</h1>
    <p>Information is found here about subjects, choosing subjects, and what they include.</p>
</div>
<!--Subject Description Card-->
<div class="row row-cols-1 row-cols-md-5 g-4 justify-content-center w-100">
    <div class="card border-light mb-3 text-center bg-transparent" style="background:#3f3f3f; color: white;">
        <img src="/static/images/subjectChoose.png" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Profile</h5>
            <p class="card-text">See what subjects you have selected!</p>
            <a href="/view?id={{session.id}}" class="btn btn-primary bg-transparent border-light" style="font:bold">VIEW PROFILE</a>
        </div>
    </div>
    <div class="card border-light mb-3 text-center bg-transparent" style="background:#3f3f3f; color: white;">
        <img src="/static/images/subjectChoose.png" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">About the Subjects</h5>
            <p class="card-text">Check out what some of the subjects mean! They might grab your interests...</p>
            <a href="/about-subjects" class="btn btn-primary bg-transparent border-light" style="font:bold">LEARN MORE</a>
        </div>
    </div>
</div>

{% endblock %}