{% extends '_layout.html' %}

{% block title %}Select Subject{% endblock %}
{% block extra_class %}customBackground{% endblock %}
{% block content %}

<div class="RegisterDiv">
    <form>
    <h2 style="color:white">Select Subjects</h2>

    <select name="s">
        <option disabled selected value="">-- Select Subject --</option>
        {% for s in subjects %}
        <option value="{{ s.subject_id }}">{{ s.subject_name }} [{{ s.subject_code }}]</option>
        {% endfor %}
    </select>

    <br><br>
    <input type="submit" value="Submit" style="width:auto"/>
    </form>


</div>

{% endblock %}