{% extends '_layout.html' %}

{% block title %}Profile{% endblock %}
{% block extra_class %}customBackground{% endblock %}

{% block content %}

<div class="ProfileDiv">
    <img src="{{ url_for('static', filename='images/' + (result.avatar or 'default.png')) }}" height="250" width="250"> <!-- Users Avatar -->
    <div>
        <h1 style="font-size: xxx-large; font-weight: bold;">Name</h1> <!-- Users Full Name -->
        <h3>{{ result.name }}</h3>
    </div>
<br/>
    <div> <!-- Users Email -->
        <h1 style="font-size: xxx-large; font-weight: bold;">E-mail</h1>
        <p><a class="btn btn-primary" style="float:left;" href="mailto:{{ result.email }}">{{ result.email }}</a></p>
    </div>

<br/>
<br/>
    <div><!-- Users Year Level -->
        <h1 style="font-size: xxx-large; font-weight: bold;">Year</h1>
        <h3>{{ result.yearlevel }}<h3>
    </div>
    <br/>
<h1 style="font-size: xxx-large; font-weight: bold; position:absolute; bottom:60%">Bio</h1>
<input type="text">
    {% if result["role"] == 'admin' %}
    <div class="ButtonsDiv">
        <p>
            <a style="display: flex; width: max-content;"class="btn btn-primary" href="/edit?id={{ result.id }}">Edit User</a>
            <a style="display: flex; width: max-content"class="btn btn-primary" href="/delete?id={{ result.id }}">Delete User</a>
        </p>
    </div>
    {% endif %}
    <div class="ButtonsDiv">
        <p>
            <a class="btn btn-primary" href="/select-subjects">Add Subjects</a>
        </p>
    </div>
</div>


<table class="styled-table" style="width: 600px;">
        <th>Subject ID</th><th>Subject Name</th><th>Subject Code</th>
    </tr>
    {% for row in subjects %}
        <td>{{ row.subject_id }}</td>
        <td>{{ row.subject_name }}</td>
        <td>{{ row.subject_code }}</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}
